name: Build and Release

on:
    schedule:
        # 每周一中午 00:00 运行
        - cron: "0 10 * * 1"
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest
        # 授予创建 Release 的权限
        permissions:
            contents: write

        steps:
            # 检出代码
            - name: checkout code
              uses: actions/checkout@v4
              with:
                  fetch-depth: 1

            # 设置构建日期（东八区）
            - name: get current date
              run: echo "BUILD_DATE=$(date -d '8 hours' +'%Y-%m-%d')" >> $GITHUB_ENV

            # 安装环境
            - name: init
              run: bash scripts/init.sh

            # 构建 zsh 相关
            - name: build zsh
              run: zsh scripts/zsh-conf-build.zsh

            # 构建 kits 相关
            - name: build kits
              run: bash scripts/eget-download-kits.sh

            # 打包构建结果
            - name: package shellkits
              run: |
                  mkdir shellkits
                  mv zsh/ shellkits/zsh
                  mv kits/ shellkits/kits
                  cp README.md shellkits/README.md
                  cp setup.sh shellkits/setup.sh
                  tar -zcvf shellkits.tar.gz shellkits/

            # 打包构建结果
            - name: package shellkits-core
              run: |
                  cp -a shellkits/ shellkits-core/
                  rm shellkits-core/kits/hx 
                  rm shellkits-core/kits/yazi 
                  rm shellkits-core/kits/lazygit
                  tar -zcvf shellkits-core.tar.gz shellkits-core/

            # 创建 Release 并上传附件
            - name: create Release
              uses: softprops/action-gh-release@v2
              with:
                  files: |
                      shellkits.zip
                      shellkits-core.zip
                  name: Release ${{ env.BUILD_DATE }}
                  body: |
                      Automatic release for version ${{ env.BUILD_DATE }}
                      - Build commit: ${{ github.sha }}
                  draft: false
                  prerelease: false
